<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727734816866-prtkocdc1ci71vqhge5dtji2o5p79psb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727734816866-prtkocdc1ci71vqhge5dtji2o5p79psb</string>
	<key>API_KEY</key>
	<string>AIzaSyApznLrW6hQV0g75jYvFQofpoqwRK63sm4</string>
	<key>GCM_SENDER_ID</key>
	<string>727734816866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tatsukii.ARPass</string>
	<key>PROJECT_ID</key>
	<string>arpass-fd645</string>
	<key>STORAGE_BUCKET</key>
	<string>arpass-fd645.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727734816866:ios:0a9e285e2330d561ad013b</string>
	<key>DATABASE_URL</key>
	<string>https://arpass-fd645.firebaseio.com</string>
</dict>
</plist>